.txt-red{
  color: red;

}

.txt-green{
  color: green;
}

*{
  padding: 0;
  margin: 0;
}

.ins-ui{
  margin: 60px auto;  
}

.ins-lg{
  border: 4px solid red;
  padding: 60px;
  

  /* padding: 40px;
  width: 80%;
  margin: 80px auto;
  display: flex; */
  
}

.ins-logo img{
  width: 60px;
}

button{
  background-color: rgb(140, 186, 255);
  color: aliceblue;

}

:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --btn-bg: #0095f6;
  --btn-color: #fff;
  --fb-color: #385185;
  --a-color: #00376b;
}

.dark {
  --body-bg: #151515;
  --box-bg: #151515;
  --box-border-color: #262626;
  --txt-color: #d2d2d2;
}